.cart-page {
    padding: 20px;
}

.cart-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.cart-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.cart-item-info h4 {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 5px;
}

.cart-item-price {
    font-weight: bold;
    color: #27a54b;
}

.cart-summary {
    flex: 1;
    background: #fdfdfd;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #ddd;
    height: fit-content;
    color: #000000;
}

.total-amount {
    font-size: 1.2rem;
    margin: 20px 0;
    font-weight: bold;
}

.total-amount span {
    color: #27a54b;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}